DATABASE_URL="postgresql://apartmani_user:apartmani_pass@localhost:5432/apartmani_db"
JWT_SECRET="brF5b1eM8MHxPZfpYzbpVRM1K9mUT5zX/QTiPBKNOx4="
PORT=3000
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
